
SportsStore/.vs/

SportsStore/obj/

SportsStore/Properties/

SportsStore/appsettings.json
SportsStore/appsettings.Development.json

SportsStore/bin/
/.vs/SportsStore/v16

/SportsStore.Tests/obj
/SportsStore.Tests/bin/Debug/net5.0
/.vs/SportsStore
/obj
/Properties
